
<div class="header">
  <h1>Meredith&nbsp;Stone</h1>
  <div class="nav">
    <div class="studies"><div class="studies_wrapper"><div class="study">Animals</div><div class="study">Landscapes</div><div class="study">Portraits</div><div class="study">Products&nbsp;&amp;&nbsp;Food</div></div></div>
    <h3 class="frontpage_images">IMAGES</h3>
    <div class="abouts"><div class="abouts_wrapper"><div class="about about_about">About</div><div class="about about_contact">Contact</div></div></div>
  </div>
</div>
<div class="images">
  <div class="images_wrapper">
    <% for photo in @photos %>

      <div class="photo">
        <%= image_tag photo.photo_file.url(:medium) %>
      </div>

    <% end %>
  </div>
</div>
<div class="big_display"><div class="image_holder"></div></div>
<div class="about_meredith">
<p>Meredith Stone’s interest in photography began in 1994. &nbsp;She moved to Chicago in 1997 and worked as an assistant for a fashion photographer. &nbsp;She went on to receive her BA from Columbia College in Chicago. &nbsp;After graduation she worked for a studio shooting class portraits, weddings and sporting events.</p>
<p>Her fine art photographs have been exhibited in “Sleepwalk” magazine and in several galleries. &nbsp;She was chosen as Curator’s Choice in the “Around the Coyote” art festival in Chicago. &nbsp;She co-produced and did still photography for the documentary “Blobus Festivus” and did the still photography for the short film “I Was a Mathlete until I Met Margo Marris”.</p>
<p>Currently Meredith is living in Columbus, Ohio, where she does freelance photography work and teaches. &nbsp;Clients have included the Wexner Center for the Arts and Threehouse Design Studio.</p>
<p><img class="self_portrait" title="Self Portrait" src="http://s3.amazonaws.com/chriserin_paperclip_test/stonephoto/photos/Self-Portrait_medium.jpg" alt=""></p>
</div>
<div class="contact_meredith">
<p style="text-align: center;">Meredith Stone</p>
<p style="text-align: center;">stone.meredith@gmail.com</p>
<p style="text-align: center;"><img class="aligncenter size-medium wp-image-133" title="West Virginia Pictures" src="http://s3.amazonaws.com/chriserin_paperclip_test/stonephoto/photos/DSCF1016_medium.jpg" alt=""></p>
</div>
