// Place all the/ styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgba(246, 200, 219, 0.25);
  width: 100%;
}

.header {
  width: 100%;
  position: relative;
  height: 80px;
}

.sign_out {
  position: absolute;
  z-index: 20;
}

.abouts {
  text-transform:uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  margin: 0 auto;
  display: inline;
}

.abouts_wrapper {
  display: inline;
}

.about {
  display: inline;
  margin: 5px;
  cursor: pointer;
  z-index: 50;
  position: relative;
}

.about_meredith, .contact_meredith {
  width: 640px;
  margin: 0 auto;
  p { font-size: 14px;}
}

.self_portrait {
  float: right;
  margin-left: 20px;
}

.study {
  text-transform: uppercase;
  display: inline;
  margin: 5px;
  z-index: 50;
  position: relative;
  cursor: pointer;
}

.studies {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: bold;
  display: inline;
}

.studies_wrapper {
  display: inline;
}

h1 {
  margin: 0 auto;
  position: relative;
  width: 400px;
  font-family: 'Dancing Script', cursive;
  font-size: 72px;
  margin-top: 60px;
  color: rgba(67, 0, 90, 1);
}

h3 {
  margin: 0 auto;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  width: 400px;
  margin-top: 30px;
  text-align: right;
  cursor: pointer;
  display: inline;
}

.nav {
  margin: 30px auto 0;
  padding-left: 34px;
  width: 610px;
  position: relative;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav {
    width: 630px;
    padding-left: 34px;
  }
}

.photo {
  position: relative;
  float: left;
  display: inline;
  margin-left: 10px;
  background-color: rgba(200, 0, 0, .4);
  height: 450px;
  cursor: pointer;
}

.white_panel {
  background-color: white;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
}

.color_panel {
  background-color: rgba(200, 0, 0, .4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.loading_label {
  margin: 0 auto;
  width: 40px;
  margin-top: 225px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
}

.loading_images {
  float: left;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
}

img {
  margin-top: 0%;
  position: relative;
  z-index: 8;
}

.images {
  position: absolute;
  width: 100%;
  height: 480px;
  margin-top: 50px;
  margin-right: 40px;
  top: 100px;
  left: 0px;
  overflow: hidden;
}

.images_wrapper {
  width: 13000px;
  margin-left: 40px;
  height: 100%;
  position: relative;
}

.big_display {
  height: 100%;
  width: 100%;
  background-color: rgba(150, 150, 150, .8);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.big_display img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .big_display img {
    margin-top: 2%;
  }
}

.big_display_photo {
  border-style: solid;
  border-width: 8px;
  border-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.photos_table {
  margin-top: 50px;
}

.footer {
  margin-top: 600px;  
  color: gray;
  width: 100%;
}

.copyright {
  margin: 0 auto;
  width: 228px;
}

.left_arrow_holder {
  left: 0px;
  padding-left: 20px;
}

.right_arrow_holder {
  right: 0px;
  padding-right: 20px;
}

.arrow_holder {
  z-index: 20;
  position: absolute;
  top: 100px;
  height: 480px;
  width: 40px;
  background-color: transparent;
  margin-top: 50px;
}

.arrow_circle {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(200, 200, 200, .7);
  margin-top: 220px;
  position: relative;
  cursor: pointer;
}

.left_arrow_head {
  border-width: 10px 20px 10px 0px;
  border-color: transparent rgba(0,0,0,.9) transparent transparent;
}

.right_arrow_head {
  border-width: 10px 0px 10px 20px;
  border-color: transparent transparent transparent rgba(0,0,0,.9);
  right: 0px;
}

.arrow_head {
  height: 0px;
  width: 0px;
  border-style: solid; 
  position: absolute;
  top: 10px;
  z-index: 60;
}


.stem {
  height: 8px;
  width: 30px;
  top: 16px;
  position: absolute;
  right: 0px;
  background-color: rgba(0,0,0,.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 60px;
}

.right_stem {
  left: 0px;
}

.image_reps {
  position: absolute;
  top: 590px;
  left: 0px;
  height: 18px;
  width: 100%;
  margin-top: 30px;
}

.image_reps_wrapper {
  width: 18 * 20px;
  margin: 0 auto;  
  background-color: blue;
}

.image_rep {
  height: 20px;
  width: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(67, 0, 90, .3);
  float: left;
  display: inline; 
  margin: 4px;
  cursor: pointer;
  position: relative;
}
