// Place all the/ styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgba(246, 200, 219, 0.45);
  width: 100%;
}

.header {
  width: 100%;
  position: relative;
  height: 80px;
}

.sign_out {
  position: absolute;
  z-index: 20;
}

.abouts {
  text-transform:uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  margin: 0 auto;
  display: inline;
}

.abouts_wrapper {
  display: inline;
}

.about {
  display: inline;
  margin: 5px;
  cursor: pointer;
  z-index: 50;
  position: relative;
}

.about_meredith {
  width: 500px;
  margin: 0 auto;
}

.study {
  text-transform: uppercase;
  display: inline;
  margin: 5px;
  z-index: 50;
  position: relative;
  cursor: pointer;
}

.studies {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: bold;
  display: inline;
}

.studies_wrapper {
  display: inline;
}

h1 {
  margin: 0 auto;
  position: relative;
  width: 400px;
  font-family: 'Dancing Script', cursive;
  font-size: 72px;
  margin-top: 60px;
  color: rgba(67, 0, 90, 1);
}

h3 {
  margin: 0 auto;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  width: 400px;
  margin-top: 30px;
  text-align: right;
  cursor: pointer;
  display: inline;
}

.nav {
  margin: 30px auto 0;
  padding-left: 34px;
  width: 610px;
  position: relative;
}

.photo {
  position: relative;
  float: left;
  display: inline;
  margin-left: 10px;
  background-color: rgba(200, 0, 0, .4);
  height: 450px;
}

.white_panel {
  background-color: white;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
}

.color_panel {
  background-color: rgba(200, 0, 0, .4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.loading_label {
  margin: 0 auto;
  width: 40px;
  margin-top: 225px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
}

img {
  margin-top: 0%;
  position: relative;
  z-index: 8;
}

.images {
  position: absolute;
  width: 100%;
  height: 480px;
  margin-top: 50px;
  top: 100px;
  left: 0px;
  overflow-x: auto;
  overflow-y: hidden;
}

.images_wrapper {
  width: 13000px;
}

.big_display {
  height: 100%;
  width: 100%;
  background-color: rgba(150, 150, 150, .8);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.big_display img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

.photos_table {
  margin-top: 50px;
}

.footer {
  margin-top: 600px;  
  color: gray;
}


